<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Striped</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'https://js.stripe.com/v2/' %>

    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
    <!-- Add the top navigation bar-->
    <%= render 'shared/navigation_bar' %>

    <!--Divide the page into sidebar and main body -->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-xs-2">
          <!--Sidebar content-->
          <%= render 'shared/leftbar_content' %>
        </div>

        <div class="col-xs-8">
          <!--Body content-->
          <!-- To do: These divs need to be generated based on the number of elements to
          be shown-->
          <!--<div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="..." alt="...">
              </a>
            </div>
          </div>-->
          <%= render 'shared/product_display_grid' %>
        </div>

        <div class="col-xs-2">
          <!--Right bar content -->

          <!--Quick cart view-->
          <%= render 'shared/quick_cart' %>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
