<h1> New User Sign up Page </h1>

<%= form_for :user, url: {action: "create"} do |f| %>
<p>
  <%= f.label :FirstName %><br>
  <%= f.text_field :firstname %>
</p>

<p>
  <%= f.label :LastName %><br>
  <%= f.text_field :lastname %>
</p>

<p>
  <%= f.label :Email %><br>
  <%= f.email_field :email %>
</p>

<p>
  <%= f.label :Password %><br>
  <%= f.password_field :password %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
